.voting_container {
	max-width: 500px;
	margin: 10px auto;
	line-height: 29px;
}

.voting_container input {
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: 'Courier New', arial;
	border-style: none;
	border: 1px solid rgb(0, 75, 126);
	padding: .5em 1.1em;
	-webkit-appearance: none  ;
	border-radius: 0px;
	line-height: 15px;
}


.voting_container form {
	width: 100%;
	font-size: 16px;
	position: relative;
}

.voting_container form p {
	font-family: 'Courier New', arial;
	font-size: 16px;
	width: 40%;
	border: 1px solid rgb(0, 75, 126);
	border-right: none;
	display: inline-block;
	position: relative;
	top: -1px;
	background: white;
	padding-left: 15px;
}

.voting_container input[type="date"] {
	width: 60%;
	float: right;
	border-left: none;
}

.variant input[type="text"] {
	width: 95%;
	border-right: none;

}

.variant .removalArea {
	width: 5%;
	height: 30.5px;
	margin-left: 0px;
	background-color: white;
	border: 1px solid rgb(0, 75, 126);
	border-left: none;
	float: right;
	margin-top: 0px;
	position: relative;
}

.variant:hover > .removalArea > .removeX::before {
	opacity: 1;
}

.variant:hover > .removalArea > .removeX::after {
	opacity: 1;
}


.removalArea .removeX {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
}

.removalArea .removeX::before,
.removalArea .removeX::after {
	content: "";
	width: 50%;
	height: 2px;
	background: #ccc;
	display: block;
	position: absolute;
	opacity: 0;	
	transition: opacity 0.5s ease-in-out ;
}

.removalArea .removeX::before {
	top: 50%;
    transform: rotate(45deg);
    left: 20%;
}

.removalArea .removeX::after {
	bottom: 42%;
    transform: rotate(-45deg);
    left: 20%;
}

.removalArea:hover > .removeX::before {
	background: black;
}

.removalArea:hover > .removeX::after {
	background: black;
}

input[type="submit"] {
	background-color: rgb(0, 75, 126);
	color: white;
	letter-spacing: 1px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-appearance: none;
    border: 1px solid rgb(0, 75, 126);

}

.vars .variant:nth-child(2n) .removalArea {
	height: 30px;
	margin-top: 1px
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="date"]:hover #date-field {
}

input[type="submit"]:hover {
	background: #005687;
}

input[type="submit"]:active {
	background: #004167;
}

.fakeinput {
	width: 100%;
	height: 30px;
	line-height: 29px;
	background-color: #00407E;
	border: 1px solid #00407E;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	cursor: pointer ;
	padding-left: 3%;
	font-family: 'Courier New', arial;
	color: #fff;
	transition: 0.5s;
}

.fakeinput:hover {
	background-color: #005687;
}

.fakeinput:active {
	background: #004167;
}

