@media (max-width: 651px) {
	.profile-information {
		width: 100%;
	}

	.block-information {
		width: 100% !important;
	}

	.timetable {
		width: 100%;
	}

	.notifications {
		width: 100% !important;
		margin-left: 5px;
	}
	.container-menu {
			margin-top: 80px !important;
		}
	.top-menu .container-menu {
		margin-top: 0px !important;
	}


}