div.info {
	background-color: var(--some-color);
	font-size: 30px;
}
.top-margin {
	margin-top: 15px;
}
.anketa {
    background: rgba(38, 116, 145, 0.5);
    padding: 20px;
    margin-bottom: 20px;
}
.today {
    font-size: 30px;
}
.today-col {
    background: rgba(0, 95, 162, 0.4);
    padding: 15px;
}