php_flag display_errors on
php_flag display_startup_errors on
php_value error_reporting 32767

php_flag log_errors on
php_value error_log  /home/c/cy73361/ITLKPFU/public_html/errors.log

php_value include_path ".:/home/c/cy73361/ITLKPFU/lib"

Header unset Cache-Control

RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.php -f
		RewriteRule ^(.*)$ $1.php

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME}\.php !-f
		RewriteRule .+ /route.php

	RewriteRule student/(.+) /student.php

ErrorDocument 404 /404.php

AddDefaultCharset utf-8

<Files *.log>
	order deny,allow
	deny from all
</Files>
<Files phinfo.ph>
	order deny,allow
	deny from all
</Files>