<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>404</title>
		<link rel="shortcut icon" href="/img/favicon.ico">

	</head>
	<link rel="stylesheet" href="/css/main.css">
	<body>
		<div class="main_container">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>404</h1>
						<h2>Ошиблись адресом?</h2>
						<p>Лучше перейдите на страницу <a href="/">профиля</a> и еще раз проверьте правильность написания этой ссылки</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
