{% extends 'main.html' %}
{% block title %}
	Вопросы
{% endblock %}

{% import "utils.html" as utils %}

{% block body %}
	<div class="container">
		{% if result=="success" %}
			{{ utils.message("Успешно!","Ваш вопрос принят!","success") }}
		{% elseif result=="fail" %}
			{{ utils.message("Внимание!","Что-то пошло не так!","warning") }}
		{% endif %}

		<form action="" method="POST" class="form-40 form-40-marg-all">
			<textarea name="question" required placeholder="Вопрос" class="form-control"></textarea>
			<input type="submit" value="Задать вопрос" class="submit">
		</form>

		{% for q in questions %}
		    <div class="question">
		    	<div class="question-id" hidden>
		    		{{- q.id -}}
		    	</div>

		    	<div class="question-text">
			    	{%- if can_remove -%}
						<button class="question-remove">&times;</button>
					{%- endif -%}
		    		<span>{{ q.text }}</span>
					<span class="userlink">{{ utils.display_user(q.from) }}, </span>
		    	</div>
				
				{% if can_answer %}
				<div class="answer">
					<textarea class="question-answer-send-text" placeholder="Для удаления ответа отправьте пустое сообщение"></textarea>
					<button class="question-answer-send submit">Ответить</button>
				</div>
				{% endif %}

				{% if q.answered %}
					<div class="question-answer">
						<div class="question-answer-text">
							{{- q.answer -}}
						</div>
						<div class="question-answer-from">
							{{ utils.display_user(q.answerer) }}
						</div>
					</div>
				{% endif %}

		    </div>
		{% endfor %}
		
		{%- if can_remove -%}
			<script>
				$(".question-remove").click(function() {
					let id = $(this).parent().children(".question-id").html();
					$.ajax({
						method: "POST",
						url: "",
						data: {
							remove_id: id,
						}
					}).done(function(data) {
						document.location.reload();
					}).fail(function(error) {
						console.log(error);
					});
				});
				$(".question-answer-send").click(function() {
					let id = $(this).parent().children(".question-id").html();
					let answer = $(this).parent().children(".question-answer-send-text").val();

					console.log(answer);

					$.ajax({
						method: "POST",
						url: "",
						data: {
							id: id,
							answer: answer
						}
					}).done(function(data) {
						document.location.reload();
					}).fail(function(error) {
						console.log(error);
					});
				});
			</script>
		{%- endif -%}

	</div>
{% endblock %}
