{% extends 'main.html' %}
{% block title %}
    Начислить баллы
{% endblock %}

{% import "utils.html" as utils %}

{% block body %}
	<div class="container container-points">
		<script>
			window.causes_list = {{ causes|raw }};
		</script>

		{% if result=="success" %}
			{{ utils.message("Успешно!","Баллы начислены","success") }}
		{% elseif result=="fail" %}
			{{ utils.message("Внимание!","Что-то пошло не так!","warning") }}
		{% endif %}

		<form action="" method="POST" class="form">
			<label for="award_kind">Выберите ученика:</label>
			{{ controller('select_student') }}
			<label for="award_kind">Выберите категорию причины:</label>
			<select id="award_kind" class="form-control"></select>
			<label for="award_cause">Выберите причину:</label>
			<select name="cause" id="award_cause" class="form-control"></select>
			<input type="submit" class="submit big-submit">
		</form>
	</div>
{% endblock %}
