{% extends 'main.html' %}
{% block title %}
    Начислить баллы
{% endblock %}

{% block body %}
	<div class="container">
		<script>
			window.causes_list = {{ causes|raw }};
		</script>

		{% if result=="success" %}
			<div class="alert alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Готово!</strong> Транзакция успешно завершена!
			</div>
		{% elseif result=="fail" %}
			<div class="alert alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Внимание!</strong> Что-то пошло не так!
			</div>
		{% endif %}

		<form action="" method="POST" class="form">
			<label for="award_kind">Выберите ученика:</label>
			{{ controller('select_student') }}
			<label for="award_kind">Выберите категорию причины:</label>
			<select id="award_kind" class="form-control"></select>
			<label for="award_cause">Выберите причину:</label>
			<select name="cause" id="award_cause" class="form-control"></select>
			<input type="submit" class="submit big-submit">
		</form>
	</div>
{% endblock %}
