{% extends 'main.html' %}

{% block title %}
	Оповестить учеников
{% endblock %}

{% import "utils.html" as utils %}

{% block body %}
	<div class="container">
		{% if result=="success" %}
			{{ utils.message("Успешно!","Баллы начислены","success") }}
		{% elseif result=="fail" %}
			{{ utils.message("Внимание!","Что-то пошло не так!","warning") }}
		{% endif %}

		<form action="" method="POST" class="form">
			<div class="add-student">
				<label for="award_kind">Добавить учеников:</label>
				{{ include("select_student.html") }}
				<div id="add-student-button">
					<button class="submit">Добавить</button>
				</div>
			</div>
			<textarea type="textarea" hidden readonly required id="selector-list" name="selector" class="form-control"></textarea>
			<label for="award_kind">Введите сообщение:</label>
			<input type="text" placeholder="Сообщение" name="message" required class="form-control">
			<input type="submit" class="submit big-submit">
		</form>
	</div>
{% endblock %}
