{% extends 'main.html' %}

{% block title %}
	Оповестить
{% endblock %}

{% block body %}
	{% if result=="success" %}
		Сообщение отправлено!
	{% elseif result=="fail" %}
		Ошибка
	{% endif %}

	<form action="" method="POST">
		<input type="text" placeholder="Сообщение" name="message"><br>
		<input type="text" hidden readonly><br>

		<input type="text" id="add-student-text" placeholder="Логин ученика">
		<button id="add-student-button">Добавить</button><br>
		
		<input type="submit">
	</form>
	
	{{ "<script>" }}
		list_of_students = {{ list_of_students|raw }};
	{{ "</script>"}}

	<script src="/js/broadcast.js"></script>
{% endblock %}
