{% extends 'points.html' %}

{% import "user_macro.html" as user %}

{% block title %}
	Выписка по классу
{% endblock %}

{% block css_pages %}
	<link rel='stylesheet' href='/css/points.css'>
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="all-width-only">Баланс класса: <strong>{{ sum }}</strong> {{ points.noun }}</h2>

		<table class="class-table">
			<tr>
				<th>Ученик</th>
				<th>Баллы</th>
				<th>Подробнее</th>
			</tr>
		
			{% for student in students %}
				<tr>
					<td>
						{{ user.display(student) }}
					</td>
					<td>
						<strong>{{ student.get_points }}</strong>
					</td>
					<td>
						<a href="points/{{ student.get_login }}">Подробнее</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
