{% extends 'points.html' %}
{% block title %}
	Выписка по классу
{% endblock %}

{% block css_pages %}
	<link rel='stylesheet' href='/css/points.css'>
{% endblock %}

{% block body %}
	<div class="col-md-12">
		<span class="span-point" style="font-weight: bold;">Итого по классу:</span>
		<span class="span-points">
			{{ sum }}
		</span>

		<table class="table table-bordered table-hover">
			<tr>
				<th>Ученик</th>
				<th>Баллы</th>
				<th>Подробнее</th>
			</tr>
		
			{% for student in students %}
				<tr>
					<td>
						{{ student.names.family }} {{ student.names.given }}
					</td>
					<td>
						{{ student.points }}
					</td>
					<td>
						<a href="points/{{ student.login }}">Подробнее</a>
					</td>
				</tr>
			{% endfor %}

			<tr>
				<td class="summ">
					Итого:
				</td>
				<td class="no-right" colspan="2">
					{{ sum }}
				</td>
			</tr>
		</table>
	</div>
{% endblock %}
