{% extends 'main.html' %}
{% block title %}
	Добавить голосование
{% endblock %}

{% block body %}
	{% if res_link %}
		{{ res_link }}
	{% endif %}	

	<div class="container container-points">
		<form action="" method="POST" class="form-40">
			<input type="text" class="form-control" placeholder="Название голосования" name="title">
			<input type="text" class="form-control" placeholder="Описаниие голосования" name="desc">
			<label for="date">Голосование будет доступно до:</label>
			<input type="date" class="form-control" name="till" id="date">
			<input type="text" class="form-control" placeholder="Перечислите варианты через точку с запятой (;)" name="variants">
			<input type="submit" class="submit big-submit">
		</form>
	</div>
{% endblock %}
