{% extends 'main.html' %}
{% block title %}
	Документы
{% endblock %}

{% import "utils.html" as utils %}

{% block body %}
	<div class="container">
		<ul>
			{% for file in files %}
				<li class="document-elem">
					<a href="{{ file.url }}">
						{{ file.title }}
					</a>
					{% if can_edit %}
						<button class="document-remove" doc-id="{{ file.id }}">&times;</button>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		{% if can_edit %}

			{% if status=="success" %}
				<a href="{{ link }}">{{ link }}</a>
			{% elseif status == "fail" %}
				Ошибка
			{% elseif status == "already" %}
				Название занято
			{% endif %}

			<form action="" method="POST" class="form-40" enctype="multipart/form-data">
				<input required name="file" type="file" class="form-control">
				<input required name="title" type="text" placeholder="Название" class="form-control">
				<input required name="path" type="text"
					placeholder="Имя файла для ссылки (английские буквы с расширением)"
				 class="form-control">
				<input type="submit" class="submit">
			</form>

			<script>
				$(".document-remove").click(function() {
					let id = $(this).attr("doc-id");

					$.ajax({
						method: "POST",
						url: "",
						data: {
							remove_id: id,
						}
					}).done(function(data) {
						document.location = document.location;
					}).fail(function(error) {
						console.log(error);
					});
				});
			</script>
		{% endif %}

	</div>
{% endblock %}
