{% extends 'main.html' %}
{% block title %}
    Передать баллы
{% endblock %}

{% import "utils.html" as utils %}

{% block body %}
	<div class="container container-points">
		{% if result=="success" %}
			{{ utils.message("Успешно!","Баллы переданы","success") }}
		{% elseif result=="fail" %}
			{{ utils.message("Внимание!","Что-то пошло не так!","warning") }}
		{% endif %}
		<h2>Баланс: <strong>{{ points.count }}</strong> {{ points.noun }}</h2>
		<script>
			var causes_list = {{ causes }};
		</script>
		<form action="" method="POST">
			{{ controller("select_student") }}
			<input placeholder="Введите количество баллов" class="form-control" type="number" name="points" min="1" id="number">
			<input type="submit" class="submit">
		</form>
	</div>
{% endblock %}
