<meta charset="UTF-8">
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/banner.js"></script>

{% block js_default %}
	{% if has_dist(control_name ~ ".js") %}
		<script src="/dist/{{ control_name }}.js"></script>
	{% else %}
		<script src="/dist/main.js"></script>
	{% endif %}
{% endblock %}

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/loader.css">

{% if has_css(control_name ~ ".css") %}
	{% block css_pages %}
		<link rel="stylesheet" href="/css/{{ control_name }}.css">
	{% endblock %}
{% endif %}
