{% extends 'main.html' %}

{% block title %}
    Интернат
{% endblock %}

{% block body %}
	Сегодня дежурят:
	<table>
		<tr>
			<th>Блок</th>
			<th>Воспитатель</th>
		</tr>
		<tr>
			<td>А2</td>
			<td>Михаил Осипович</td>
		</tr>
	</table>

	<div id="music_list">
		{% for music in musics %}
			{% if music.student_vote_this %}
				{% set class = "vote-this" %}
			{% else %}
				{% set class = "vote-not-this" %}
			{% endif %}
		
			<div class="music_el {{ class }}">
				<div hidden class="music-id">
					{{ music.id }}
				</div>
				<div class="music_name">
					<span class="music_performer">
						{{ music.performer }}
					</span> - 
					<span class="music_title">
						{{ music.title }}
					</span>
				</div>
				<div class="vote-info">
					<span class="votes">
						{{ music.votes_count }}
					</span>
					<button class="vote unvote">
							Отменить голос
					</button>
					<button class="vote dovote">
						+
					</button>
				</div>
			</div>

		{% endfor %}
		<script>
			const user_vote_id = {{ user_vote_id }};
		</script>
		<script src="/js/internat.js"></script>
	</div>
{% endblock %}
