{% extends 'main.html' %}

{% block title %}
    Интернат
{% endblock %}

{% block body %}
	Сегодня дежурят:
	<table>
		<tr>
			<th>Блок</th>
			<th>Воспитатель</th>
		</tr>
		<tr>
			<td>А2</td>
			<td>Михаил Осипович</td>
		</tr>
	</table>

	<div id="music_list">
		<div id="primer_music_el" class="music_el">
			<div hidden class="music-id">
				${music.id}
			</div>
			<div class="music_name">
				<span class="music_performer">
					${music.performer}
				</span> - 
				<span class="music_title">
					${music.title}
				</span>
			</div>
			<div class="vote-info">
				<span class="votes">
					${music.votes_count}
				</span>
				<button class="vote unvote">
						Отменить голос
				</button>
				<button class="vote dovote">
					+
				</button>
			</div>
		</div>
	</div>

	<form action="" method="POST">
		<input type="text" placeholder="Исполнитель" name="performer">
		<input type="text" placeholder="Название" name="title">
		<input type="submit">
	</form>
		
	{{ "<script>" }}
		const user_vote_id = {{ user_vote_id }};
	{{ "</script>" }}
	<script src="/js/internat.js"></script>
{% endblock %}
