<meta charset="UTF-8">
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="stylesheet" href="/css/first_theme.css"  id="first_theme"  class="theme_link" disabled>
<link rel="stylesheet" href="/css/second_theme.css" id="second_theme" class="theme_link" disabled>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/bootstrap-theme.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/<?=$asd?>.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="http://allfont.ru/allfont.css?fonts=open-sans" rel="stylesheet" type="text/css">

<script>
	document.title += " | Mind";
</script>

<script src="/js/bootstrap.js"></script>