{% extends 'main.html' %}
{% block title %}
	load
{% endblock %}

{% block body %}
	<div class="container">
		<form action="" method="POST" enctype="multipart/form-data">
			Ссылка <input type="text" name="url">
			Надпись <input type="text" name="title">
			С какого числа <input type="date" name="from_date">
			По какое <input type="date" name="until_date">
			Картинка: (Разрешение 3510 264 (ну или 1755 132 😊)) <input type="file" name="img" class="form-control">
			<input type="submit" class="submit big-submit">
		</form>
	</div>
{% endblock %}
