{% extends 'main.html' %}
{% block title %}
	Загрузить данные
{% endblock %}

{% import "utils.html" as utils %}

{% block body %}
	<div class="container container-points">
		{% if status %}
			<div class="status">
				{% if result=="success" %}
					{{ utils.message("Успешно!","Данные загружены!","success") }}
				{% elseif result=="error" %}
					{{ utils.message("Внимание!","Что-то пошло не так!","warning") }}
				{% endif %}
			</div>
		{% endif %}

		<form action="" method="POST" enctype="multipart/form-data" class="form-40">
			<select required name="excel_type" class="form-control">
				{% for reader in readers %}
				    <option>{{ reader }}</option>
				{% endfor %}
			</select>

			<input required type="file" name="excel" class="form-control">
			<input type="submit" class="submit big-submit">
		</form>
	</div>
{% endblock %}
