<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>
			{% block title %} title {% endblock %}
		</title>
		{{ include('links.html') }}
		<link rel="stylesheet" href="/css/loader.css">
		{% block css_pages %}
			<link rel="stylesheet" href="/css/{{ control_name }}.css">
		{% endblock %}
	</head>
	<body>
		{{ include('loader.html') }}
		<div class="main_container" style="display:none;">
			<header>
				<div class="top-menu">
					<div class="container-menu">
						<img src="img/logo full.png" alt="">
					</div>
				</div>
				{{ controller("menu") }}
			</header>
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
