<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>
			{% block title %} title {% endblock %}
		</title>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="/img/favicon.ico">

		{{ include('links.html') }}
	</head>
	<body>
		<div class="loader pre" style="visibility: visible;">
			<hr><hr><hr><hr>
		</div>
		<div class="main_container" style="display:none;">
			<header>
				<div class="top-menu">
					<div class="container-menu">
						<img src="img/logo full.png" alt="">
					</div>
				</div>
				{{ controller("menu") }}
			</header>
			{% block body %}{% endblock %}
		</div>
	</body>

	{% block js_default %}
		{% if has_js(control_name ~ ".js") %}
			<script src="/dist/{{ control_name}}.js"></script>
		{% endif %}
	{% endblock %}
</html>
