<div class="container-menu">
	<img class="banner" src="img/banner.png" alt="">
	<nav>
		<ul class="main-menu">
			<li><a href="profile">Профиль</a></li>
			<li><div class="btn-group">
				<a type="button" class="dropdown-toggle" data-toggle="dropdown">Баллы <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="points">Выписка по баллам</a></li>
					<li><a href="give">Передать баллы</a></li>
					<li><a href="auction">Аукцион</a></li>
				</ul>
			</div></li>
			<li><a href="timetable">Расписание</a></li>
			<li><a href="internat">Интернат</a></li>3
			<li class="right-menu"><div class="btn-group">
				<a type="button" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
				<ul class="right-dropdown-menu dropdown-menu" role="menu">
					<li><a href="points">Настройки</a></li>
					<hr>
					<li><a href="out">Выйти</a></li>
				</ul>
			</div></li>
		</ul>
	</nav>
</div>
<script src="/js/menu.js"></script>