<div class="container-banner">
	<div id="rotator" class="banner-img">
		<ul>
			{% for ad in ads %}
				<li>
					<a href="{{ ad.LINK }}">
						<img src="{{ ad.IMG_PATH }}" alt="ad" class="banner">
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="container-menu">
	<nav>
		<ul class="main-menu">
			{% for button in buttons %}
				{% if not button.menu %}
					<li>
						<a href="{{ button.url }}">
							{{ button.title }}
						</a>
					</li>
				{% else %}
					<li><div class="btn-group">
						<a type="button" class="dropdown-toggle" data-toggle="dropdown">
							{{ button.title }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							{% for item in button.items %}
								<li>
									<a href="{{ item.url }}">
										{{ item.title }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div></li>
				{% endif %}
			{% endfor %}
			<li class="right-menu"><div class="btn-group">
				<a type="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i> <span class="caret"></span></a>
				<ul class="right-dropdown-menu dropdown-menu" role="menu">
					<li><a href="settings">Настройки</a></li>
					<hr>
					<li><a href="out">Выйти</a></li>
				</ul>
			</div></li>
		</ul>
	</nav>
</div>
