<div class="container-menu">
	<img class="banner" src="img/banner.png" alt="">
	<nav>
		<ul class="main-menu">
			{% for button in buttons %}
				{% if not button.menu %}
					<li>
						<a href="{{ button.url }}">
							{{ button.title }}
						</a>
					</li>
				{% else %}
					<li><div class="btn-group">
						<a type="button" class="dropdown-toggle" data-toggle="dropdown">
							{{ button.title }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							{% for item in button.items %}
								<li>
									<a href="{{ item.url }}">
										{{ item.title }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
</div>
<script src="/js_pages/menu.js"></script>
