{% extends 'main.html' %}

{% import "utils.html" as utils %}

{% block title %}
	Баллы
{% endblock %}

{% block body %}
	<div class="container container-points">
		<h2>{{ utils.display_user(he) }}</h2><br>
		<h2>Баланс: <strong>{{ points.count }}</strong> {{ points.noun }}</h2>

		{% for day in trans_by_day %}
			<div class="day">
				<h3 class="date">
					{{ day.date|fdate("%e %Q %Y") }}
				</h3>

				{% for trans in day.trans %}

					<div class="transaction">
						<div class="from-name">
							{% if trans.from %}
								{{ utils.display_user(trans.from) }}
							{% endif %}
							<span class="transaction-time">
								в {{ trans.date|fdate("%H:%M") }}
							</span>
						</div>
						<div class="cause">
							{{ trans.cause }}
							{% if trans.from_me %}
								пользователю {{ utils.display_user(trans.to) }}
							{% endif %}
							
							{% if trans.points > 0 %}
								<span class="points good-points">
									+{{ trans.points }}
								</span>
							{% else %}
							    <span class="points bad-points">
							    	{{ trans.points }}
							    </span>
							{% endif %}
						</div>
					</div>

				{% endfor %}
			</div>

		{% endfor %}
	</div>
{% endblock %}
