{% extends 'main.html' %}

{% block title %}
	Баллы
{% endblock %}

{% block body %}
	<div class="col-md-12">
		<span class="span-point">
			Текущее количество баллов: 
		</span>
		<span class="span-points">
			{{ sum }}	
		</span>
		
		{{ text ?? ""}}

		<table class="table table-bordered table-hover">
			<tr>
				<th>Дата</th>
				<th>Отправитель</th>
				<th>Причина</th>
				<th>Количество</th>
			</tr>
			
			{% for trans in table %}
				{% set trans_class = trans.points > 0 ? "good-points" : "bad-points" %}

				<tr>
					<td>{{ trans.time }} </td>
					<td>{{ trans.from }} </td>
					<td>{{ trans.cause }}</td>
					<td class="{{ trans_class }}">
						{{ trans.points }}	
					</td>
				</tr>
			{% endfor %}

			<tr>
				<td colspan="3" class="summ">
					Итого:
				</td>
				<td class="no-right">
					{{ sum }}
				</td>
			</tr>
		</table>
	</div>
{% endblock %}
