{% extends 'main.html' %}

{% import "user_macro.html" as user %}

{% block title %}
	Баллы
{% endblock %}

{% block body %}
	<div class="container container-points">
		<h2>Баланс: <strong>{{ points.count }}</strong> {{ points.noun }}</h2>
		<a class="submit points-submit big-submit" href="/give">Передать</a>
		{% for day in trans_by_day %}
			<div class="day">
				<h3 class="date">
					{{ day.date|fdate("%e %Q %Y") }}
				</h3>

				{% for trans in day.trans %}

					<div class="transaction">
						<div class="from-name">
							{% if trans.from %}
								{{ user.display(trans.from) }}
							{% endif %}
							<span class="transaction-time">
								в {{ trans.date|fdate("%H:%M") }}
							</span>
						</div>
						<div class="cause">
							{{ trans.cause }}
							{% if trans.from_me %}
								пользователю {{ user.display(trans.to) }}
							{% endif %}
							
							{% if trans.points > 0 %}
								<span class="points good-points">
									+{{ trans.points }}
								</span>
							{% else %}
							    <span class="points bad-points">
							    	{{ trans.points }}
							    </span>
							{% endif %}
						</div>
					</div>

				{% endfor %}
			</div>

		{% endfor %}
		<!-- <div class="day">
			<h3 class="date">25 сент 2018</h3>
			<div class="transaction">
				<div class="from-name">
					Елена Митясова <span class="transaction-time">в 12:25</span>
				</div>
				<div class="cause">
					Средний балл аттестата "4,5" - "4,99" за четверть <span class="points good-points">+100</span>
				</div>
			</div>
		</div>
		<div class="day">
			<h3 class="date">22 сент 2018</h3>
			<div class="transaction">
				<div class="from-name">
					Илья Аникеев <span class="transaction-time">в 17:33</span>
				</div>
				<div class="cause">
					Активное участие в мероприятии <span class="points good-points">+70</span>
				</div>
			</div>
			<div class="transaction">
				<div class="from-name">
					Артем Чапурин <span class="transaction-time">в 15:13</span>
				</div>
				<div class="cause">
					Отсутствие значка лицеиста <span class="points bad-points">-5</span>
				</div>
			</div>
		</div> -->
	</div>
{% endblock %}
