{% extends "main.html" %}

{% import "utils.html" as utils %}

{% block title %}
	Профиль
{% endblock %}

{% block body %}		
	{% if me.is_student %}
		{% set name = me.get_name("gi") %}
	{% else %}
		{% set name = me.get_name("gi ft") %}
	{% endif %}

	<div class="container">
		<div class="block-information profile-information">
			<h2>{{ daytime }}, {{ name }}!</h2>
			{% if me.is_student %}
				<h2>
					Баланс: <strong>
						{{ points.count }}
					</strong>
					{{ points.noun }}
				</h2>
				<h3>
					Класс: <strong>
						{{ group }}
					</strong>
				</h3>
				{% if clruk %}
					<h3>
						Классный руководитель: <strong>
							{{ utils.display_user(clruk) }}
						</strong>
					</h3>
				{% endif %}
				{% if vospit %}
					<h3>
						Воспитатель: <strong>
							{{ utils.display_user(vospit) }}
						</strong>
					</h3>
				{% endif %}
				{% if night_vospit %}
					<h3>
						Дежурит на этаже: <strong>
							{{ utils.display_user(night_vospit) }}
						</strong>
					</h3>
				{% endif %}
			{% endif %}
		</div>
		<div class="block-information timetable">
			<h2>
				{{ is_today ? 'Сегодня' : 'Завтра'}}:
				<strong>
					{% set day = date|date("l")|weekday_rus %}
					{{ day }}
				</strong>,
				{{ date|date("d.m.Y") }}
			</h2>
			{% if day != "Воскресенье" and timetable %}
				<table class="timetable-table">
					<tr>
						<th></th>
						<th>Предмет</th>
						<th>Каб.</th>
					</tr>
					{% for lesson in timetable %}
						{% if lesson.is_now %}
							{% set cls = "lesson-now" %}
						{% else %}
							{% set cls = "" %}
						{% endif %}
						<tr class="{{ cls ?? ""}}">
							<td>{{ lesson.number }}</td>
							<td>{{ lesson.lesson }}</td>
							<td>{{ lesson.place }}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		</div>
		<div class="notifications">
			{% for notif in notifications %}
				{% set notif_class = notif.read ? "read-notification" : "unread-notification" %}
				<div class="one-notif {{ notif_class }}">
					<div class="from-name">
						{{ utils.display_user(notif.from) }}
						<span class="transaction-time">
							{{ notif.date|date("d.m.y в H:i") }}
						</span>
					</div>
					<div class="cause">
						{{ notif.message }}
						{% if notif.points %}
							{% if notif.points > 0 %}
								<span class="points good-points">
									+{{ notif.points }}
								</span>
							{% else %}									
								<span class="points bad-points">
									{{ notif.points }}
								</span>
							{% endif %}
						{% endif %}
					</div>
					<div class="notification-id" hidden>{{ notif.id }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
