{% extends 'main.html' %}
{% block title %}
    Настройки
{% endblock %}

{% import "utils.html" as utils %}

{% block body %}
	<div class="container">
		{% if result=="success" %}
			{{ utils.message("Успешно!","Баллы начислены","success") }}
		{% elseif result=="fail" %}
			{{ utils.message("Внимание!","Что-то пошло не так!","warning") }}
		{% elseif result=="wrong" %}
			{{ utils.message("Внимание!","Введен неправильный пароль!","danger") }}
		{% endif %}

	    <form action="" method="POST" class="form-40">
	    	<h2><strong>Сменить пароль</strong></h2>
	    	<label>Старый пароль</label>
	    	<input type="password" name="old_password" class="form-control">
	    	<label>Новый пароль</label>
	    	<input type="password" name="new_password" id="new_password" class="form-control">
	    	<label>Подтвердите пароль</label>
			<input type="password" id="confirm_password" class="form-control">
			<input type="submit" class="submit">
			<input hidden name="type" value="change_password">
	    </form>

	    <form action="" method="POST" class="form-40">
	    	<h2><strong>Сменить логин</strong></h2>
	    	<label>Пароль</label>
	    	<input type="password" name="password" class="form-control">
	    	<label>Новый логин</label>
	    	<input name="new_login" id="new_login" class="form-control">
			<input type="submit" class="submit">
			<input hidden name="type" value="change_login">
	    </form>

	</div>
{% endblock %}
