<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Регистрация</title>
	{{ links }}
	{{ CSS_PAGE_LINK }}
</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-6 col-xs-12">
					<div class="plitka">
						<form action="" method="POST">
							<div class="input-group form-group">
								<label>Ваше имя: </label>
								<input
									type="text"
									name="name"
									placeholder="Введите имя"
									class="form-control"
									required
								>
							</div>
							<div class="input-group form-group">
								<label>Ваше фамилия: </label>
								<input
									type="text"
									name="sname"
									placeholder="Введите фамилию"
									class="form-control"
									required
								>
							</div>
							<div class="input-group form-group">
								<label>Ваше отчество: </label>
								<input
									type="text"
									name="name"
									placeholder="Введите отчество"
									class="form-control"
									required
								>
							</div>
							<div class="input-group form-group">
								<label>Ваш логин: </label>
								<input
									type="text"
									name="login"
									placeholder="Введите логин"
									class="form-control"
									required
								>
							</div>
							<div class="input-group form-group">
								<label>Ваш пароль: </label>
								<input
									type="password"
									name="password"
									placeholder="Введите пароль"
									class="form-control"
									required
								>
							</div>
							<script>
								var student_list = {{ CLASSES }};
							</script>
							<div class="input-group form-group">
								<label>Ваш класс: </label>
								<select id="class_select" class="form-control">
									<option value="1">6-1</option>
									<option value="2">6-2</option>
									<option value="3">6-3</option>
									<option value="4">6-4</option>
									<option value="5">6-5</option>
									<option value="6">6-6</option>
									<option value="7">6-7</option>
									<option value="8">6-8</option>
									<option value="9">6-9</option>
									<option value="10">6-10</option>
									<option value="11">6-11</option>
									<option value="12">6-12</option>
									<option value="13">6-13</option>
									<option value="14">6-14</option>
									<option value="15">6-15</option>
									<option value="16">6-16</option>
									<option value="17">6-17</option>
									<option value="18">6-18</option>
									<option value="19">6-19</option>
									<option value="20">6-20</option>
									<option value="21">6-21</option>
									<option value="22">6-22</option>
									<option value="23">6-23</option>
									<option value="24">6-24</option>
								</select>
							</div>
							<br>
							<script src="/js/select_student.js"></script>
							<input type="submit" class="log-in-s" value="Зарегистрироваться">
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>