<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Регистрация</title>
	{{ links }}
	{{ CSS_PAGE_LINK }}
</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-6 col-xs-12">
					<div class="plitka">
						<form action="" method="POST">
							<div class="input-group form-group">
								<label>Ваше имя: </label>
								<input
									type="text"
									name="giname"
									placeholder="Введите имя"
									class="form-control"
									required
								>
							</div>
							<div class="input-group form-group">
								<label>Ваше фамилия: </label>
								<input
									type="text"
									name="fmname"
									placeholder="Введите фамилию"
									class="form-control"
									required
								>
							</div>
							<div class="input-group form-group">
								<label>Ваше отчество: </label>
								<input
									type="text"
									name="ftname"
									placeholder="Введите отчество"
									class="form-control"
									required
								>
							</div>
							<div class="input-group form-group">
								<label>Учитель</label>
								<input type="radio" name="role" class="radio-role" value="Учитель" place>
								<label>Ученик</label>
								<input type="radio" name="role" class="radio-role" value="Ученик">
							</div>
							<div id="class-select-div" class="input-group form-group">
								<label>Ваш класс: </label>
								<select id="class_select" class="form-control">
								</select>
							</div>
							<script>
								$("#class-select-div").hide();
								$(".radio-role").change(function() {
									let val = $('input[name=role]:checked').val();
									$("#class-select-div").hide();
									if (val == "Ученик") {
										$("#class-select-div").show();
									} 
								});
								{{ CLASSES }}.forEach(function(e) {
									$("#class_select").append(
										`<option>${e}</option>`
									)
								});
							</script>
							<br>
							<input type="submit" class="log-in-s" value="Зарегистрироваться">
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>