{% extends 'main.html' %}
{% block title %}
	Расписание
{% endblock %}

{% block body %}
		
	<div class="container">
		{% for day in days %}
		<div class="one-day">
			<h3>{{ day.name }}</h3>
			<table class="timetable-table">
				<tr>
					<th></th>
					<th>Предмет</th>
					<th>Каб.</th>
				</tr>
				{% for lesson in day.lessons %}
					<tr>
						<td>{{ lesson.number }}</td>
						<td>{{ lesson.name }}</td>
						<td>{{ lesson.place }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		{% endfor %}
	</div>
{% endblock %}
