{% extends 'main.html' %}
{% block title %}
	Расписание
{% endblock %}

{% block body %}
	<!-- <div>
		{% for day in days %}
			<table class="table table-bordered table-hover">
				<tr>
					<td>{{ day.name }}</td>
				</tr>

				{% for lesson in day.lessons %}
					<tr>
						<td>{{ lesson.name }}</td>
						<td>{{ lesson.place }}</td>
					</tr>
				{% endfor %}

			</table>
		{% endfor %}
	</div> -->

	<table class="table table-bordered table-hover">
	{% for day in ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"] %}
	    <td class="summ" colspan="2">{{ day }}</td>
	{% endfor %}

	 <tr><!-- 1 -->
		<td>Биология</td>
		<td>315</td>
		<td>Алгебра</td>
		<td>311</td>
		<td>Геометрия</td>
		<td>311</td>
		<td>Информатика</td>
		<td>233</td>
		<td>Родная литература</td>
		<td>309</td>
		<td>Родная литература</td>
		<td>309</td>
	</tr>
	<tr><!-- 2 -->
		<td>Английский язык</td>
		<td>311</td>
		<td>Английский язык</td>
		<td>311</td>
		<td>Геометрия</td>
		<td>311</td>
		<td>Информатика</td>
		<td>233</td>
		<td>Алгебра</td>
		<td>311</td>
		<td>Алгебра</td>
		<td>311</td>
	</tr>
	<tr><!-- 3 -->
		<td>Информатика</td>
		<td>233</td>
		<td>Литература</td>
		<td>311</td>
		<td>ОБЖ</td>
		<td>351</td>
		<td>Литература</td>
		<td>311</td>
		<td>Алгебра</td>
		<td>311</td>
		<td>Алгебра</td>
		<td>311</td>
	</tr>
	<tr><!-- 4 -->
		<td>Информатика</td>
		<td>233</td>
		<td>Физическая Культура</td>
		<td>спортзал</td>
		<td>Информатика</td>
		<td>233</td>
		<td>Геометрия</td>
		<td>311</td>
		<td>Английский язык</td>
		<td>311</td>
		<td>Информатика</td>
		<td>233</td>
	</tr>
	<tr><!-- 5 -->
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr><!-- 6 -->
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr><!-- 7 -->
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr><!-- д1 -->
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr><!-- д2 -->
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
{% endblock %}
