{% macro user_name(user, format) %}
	{% if user.has_role("teacher") %}
		{{ user.get_name(format|default("gi ft")) }}		
	{% else %}
		{{ user.get_name(format|default("fm gi")) }}
	{% endif %}
{% endmacro %}

{% macro display_user(user, format) %}
	{% import _self as utils %}
	<a class="userlink" href="/user/{{ user.get_enter_login() }}">
		{{ utils.user_name(user, format) }}
	</a>
{% endmacro %}

{# класс либо success, либо warning, либо danger#}
{% macro message(text_bold, text, class) %}
	<div class="alert alert-{{ class }}">
		<strong>{{ text_bold }}</strong> {{ text }}
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	</div>
{% endmacro %}