{% extends 'main.html' %}
{% block title %}
	Голосование
{% endblock %}

{% block body %}
	title: {{ voting.get_title }} <br>
	description: {{ voting.get_description }} <br>
	
	{% for var in voting.get_variants %}
		<div>
			<div class="var-id" hidden>{{ var.get_id }}</div>
			Вариант "{{ var.get_title }}" Количество голосов {{ var.get_count }} <button class="vote">{{var.voted_by(me) ? "-" : "+"}}</button><br>
		</div>
	{% endfor %}
	
	<script>
		$(".vote").click(function(){
			let id = $(this).parent().children(".var-id").html();
			$.ajax({
				method: "GET",
				url: "/api/vote",
				data: {
					voting_id: 9,
					variant_id: id
				},
				dataType: "json"
			}).done(function(data) {
				document.location.reload();
			});
		});
	</script>

{% endblock %}
